/** Add css rules here for your application. */

  
/** Example rules used by the template application (remove for your app) */
h1 
{
  font-size: 2em;
  font-weight: bold;
  /*color: #777777;*/

  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  
  text-align: center;
}


/** Most GWT widgets already have a style name defined */


gwt-CaptionPanel
{
	margin-top: 0px;
  	margin-bottom: 0px;
  	margin-left: 15px;
  	margin-right: 15px;
  	
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
} 

.formOneColumn
{
	width:  80%;
	
	/*
	margin-top: 15px;
  	margin-bottom: 15px;
  	*/
  	
  	margin-left: auto;
  	margin-right: auto;
  	
  	/*
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px; 
    */
}

.formTwoColumn
{
	/* width: 50%; */
	
	/* 
	margin-top: 0px;
  	margin-bottom: 0px;
  	*/
  	
  	margin-left: 10px;
  	margin-right: 10px;
  	
  	/*
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    */
}

.formRow
{
	margin-top: 5px;
  	margin-bottom: 5px;
  	margin-left: 0px;
  	margin-right: 0px;
}


.gwt-HTML
{
	/* width:  100%; */
	
	margin-top: 5px;
  	margin-bottom: 5px;
  	margin-left: 15px;
  	margin-right: 15px;
  	
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.p
{
	font: normal 14px tahoma, arial, helvetica, sans-serif;
}

.gwt-Label 
{
  	font: normal 14px tahoma, arial, helvetica, sans-serif;
  	
  	width: 100px;
  	
  	/* margin-top: auto;
	margin-bottom: auto; */
	margin-left: 15px;
	margin-right: 15px;
}
  
.textLengthLabel
{
	width: auto;
}

.mediumLabel
{
	width: 160px;
}

.longLabel
{
	width:  100%;
	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	margin-right: 5px;
}

/* .gwt-Image
{
	
} */

.gwt-Button 
{
	height: 3.0em;
	
	font-size: 12px;
	font-family: arial, sans-serif;
	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
} 

.buttonPanel
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
		
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.gwt-CheckBox
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	margin-right: 15px;
		
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}


.gwt-ListBox
{
	margin-top: 5px;
  	margin-bottom: 5px;
  	margin-left: 5px;
  	margin-right: 5px;
  	
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.gwt-TextArea
{
	height: 150px;
	width:  310px;
	margin-top: 5px;
  	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
}

.gwt-TextBox
{
	width:  150px;
	
	margin-top: 5px;
  	margin-bottom: 5px;
  	margin-left: 5px;
  	margin-right: 5px;
  	
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.viewFlexTable 
{
	margin-top: 5px;
  	margin-bottom: 5px;
  	margin-left: 5px;
  	margin-right: 5px;
  	
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* .buttonHPanel 
{
	margin-top: 5px;
  	margin-bottom: 5px;
  	margin-left: 5px;
  	margin-right: 5px;
  	
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
} */


.red
{
	 color: red;
}

.left
{
	float:left;
}

.right
{
	float:right;
}

.center
{
	margin-left:auto;
	margin-right:auto;
}

.clear
{
	clear: both;
}


/* ROSTER CSS */
/* class works for table */
table.page-break
{
	width: 925px;
  	page-break-after:always;
  	page-break-inside:auto;
}

table tr.page-break
{
	width: 100%;
    border: 1px solid black;

  	page-break-after:always;
  	page-break-inside:avoid;
} 

tr.rosterPage
{
	page-break-after: always;
	display: block;
}



td.rosterPic
{
    width: 600px;
    height: 684px;
    
    border: 1px solid black;
    
    text-align:center;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
/*     background-image: url("http://storage.googleapis.com/hbgbwebcamp.appspot.com/PhotoNotAvailable.jpg");
*/
}

td.rosterBio
{
	width: 325px;
	
	border: 1px solid black;
	
	padding: 10px;
}



/* HEALER SHEET CSS */

div.modality
{
    padding-left:20px;
    padding-right:10px;
    float: left;
    width: 465px;
    margin: 0px;
    
}

div.picture
{
    float: left;
    width: 300px;
    height: 300px;
    text-align:center;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}

div.whoIs 
{
    float: left;
    width: 465px;
    padding-left:20px;
    padding-right:10px;
   
}

div.sessionTiming
{
    text-align: center;
}

div.signUp
{
    width: 100%;
    margin: 0px;
}

/* Need SIGN UP table and cell STYLES */

div.left
{
    float: left;
}

div.right
{
    float: right;
}

div.clearFloats
{
    clear: both;
}

img.centered
{
    text-align: center;
    vertical-align: middle;
}

p.bio
{
    font-size: 20px;
}

p.sessionTiming
{
	font-size: 18px;
}

li
{
    font-size: 22px;
}

table.signUp
{
    width: 100%
}

th
{
    font-size: 18px;
    font-weight:bold;
}



td.sigCell
{
	font-size: 40px;
    border-width:1px;
    border-bottom-style:solid;
}

td.timeCell
{
	font-size: 40px;
    border-width:1px;
    width: 200px;
    background-color:LightGray;
    border-style:solid
}











