<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    	<!-- Servlets -->
  	<servlet>
		<servlet-name>CamperRosterServlet</servlet-name>
		<servlet-class>org.hbgb.webcamp.server.CamperRosterServlet</servlet-class>
		<!-- <load-on-startup>1</load-on-startup>  -->
	</servlet>

	<servlet-mapping>
		<servlet-name>CamperRosterServlet</servlet-name>
		<url-pattern>/static/roster</url-pattern>
	</servlet-mapping>
  	
  	<servlet>
		<servlet-name>BlobStoreUploadServlet</servlet-name>
		<servlet-class>org.hbgb.webcamp.server.BlobStoreUploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BlobStoreUploadServlet</servlet-name>
		<url-pattern>/hbgbwebcamp/upload</url-pattern>
	</servlet-mapping>
  	
  	<servlet>
		<servlet-name>blobStoreURLServiceServlet</servlet-name>
		<servlet-class>org.hbgb.webcamp.server.BlobStoreUploadURLServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>blobStoreURLServiceServlet</servlet-name>
		<url-pattern>/hbgbwebcamp/images</url-pattern>
	</servlet-mapping>
  	
  	<servlet>
		<servlet-name>emailServiceServlet</servlet-name>
		<servlet-class>org.hbgb.webcamp.server.EmailServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>emailServiceServlet</servlet-name>
		<url-pattern>/hbgbwebcamp/emailService</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>applicationServiceServlet</servlet-name>
		<servlet-class>org.hbgb.webcamp.server.ApplicationServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>applicationServiceServlet</servlet-name>
		<url-pattern>/hbgbwebcamp/applicationService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>healerSheetServiceServlet</servlet-name>
		<servlet-class>org.hbgb.webcamp.server.HealerSheetServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>healerSheetServiceServlet</servlet-name>
		<url-pattern>/hbgbwebcamp/healerSheetService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>uploadedPhotoServiceServlet</servlet-name>
		<servlet-class>org.hbgb.webcamp.server.UploadedPhotoServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadedPhotoServiceServlet</servlet-name>
		<url-pattern>/hbgbwebcamp/uploadedPhotoService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userServiceServlet</servlet-name>
		<servlet-class>org.hbgb.webcamp.server.HbgbAppUserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServiceServlet</servlet-name>
		<url-pattern>/hbgbwebcamp/userService</url-pattern>
	</servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>HbgbWebCamp.html</welcome-file>
  </welcome-file-list>

</web-app>
